.resultsContainer {
    background-color: green;

}

.resultsh1 {
    margin: 0px !important;
    color: white;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

.randomizedIncursion {
    display: flex;
    gap: 20px;
    background-color: white;
    align-items: center;
    flex-direction: column;
}